
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Home Page"];
}

<div class="text-center">
    <h3>Aplikacja Menedżer Zadań</h3>
    <p>Przygotowana przez:</p><p>Michał Mazurek | Szymon Lach</p>
</div>